<html>
  <head>
    <title>Save URL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="userProfile.js"></script> 
    <script> 
      function linkedinLogin(){

        $.ajax({
          method: "GET",
        headers: {
    'Access-Control-Allow-Credentials' : true,
    'Access-Control-Allow-Origin':'*',
    'Access-Control-Allow-Methods':'GET',
    'Access-Control-Allow-Headers':'application/json'
  },
        url: "https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id={77mpeeyrvnkjaa}&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2FuserProfile&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social",
        jsonpCallback: 'jsonp',
        // data: { 
        //   response_type: 'code',
        //   client_id: '77mpeeyrvnkjaa', 
        //   redirect_uri: 'http://localhost:5000/userProfile',
        //   scope: 'r_emailaddress'},
          success: function(data) {
            //alert(data.success);
            }
        });
      }


    function linkedinLogin1(theUrl, callback)
    {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET",'https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id={77mpeeyrvnkjaa}&redirect_uri=http%3A%2F%2F127.0.0.1:5000/userProfile&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social', true); // true for asynchronous 
    xmlHttp.send(null);
    }
    </script>

  </head>

  <body bgcolor="#dde6eb">
    <button onclick="linkedinLogin()" style="color:#000000;background-color:#a6cfdf;" class="LILogin" id="LILogin"> LinkedInLogin</button> 

    <div id="LIStatus"> </div>
    <div id="LIToken"> </div>
</body>
</html>