<html>
  <head>
    <title>Save URL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="popup.js"></script>
  </head>

  <body bgcolor="#dde6eb">

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '1922269284570735',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v7.0'
        });

        FB.getLoginStatus(function(response) {
          if(response.status === "connected"){
             document.getElementById('fbStatus').innerHTML = "Connected to Facebook";
          }
          else if(response.status === "not_authorized")
          {
            document.getElementById('fbStatus').innerHTML = "Facebook is not connected";
          }
          else if(response.status === "unknown")
          {
            document.getElementById('fbStatus').innerHTML = "You are not loggin to facebook";
          }
        });
        }; 
 

    function FBlogin()
        {
          FB.login(function(response){
            document.getElementById('fbStatus').innerHTML = response.status;
          if(response.status === "connected"){
             document.getElementById('fbStatus').innerHTML = "Connected to Facebook";
             document.getElementById('fbToken').innerHTML = response.authResponse.accessToken;
             document.getElementById("FBLIButton").disabled = true;

             // get user details
             FB.api(
                '/me',
                'GET',
                {"fields":"first_name,birthday,email"},
                function(response) {
                  document.getElementById('fbToken').innerHTML = JSON.stringify(response) ;
                });
          }
          else if(response.status === "not_authorized")
          {
            document.getElementById('fbStatus').innerHTML = "Facebook is not connected";
          }
          else if(response.status === "unknown")
          {
            document.getElementById('fbStatus').innerHTML = "You are not loggin to facebook";
          }
        }, {scope: 'user_birthday,public_profile, email', return_scopes: true});
      };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    
    <button onclick="FBlogin()" id='FBLIButton'> Facebook Login </button> 
    
    <div id="fbStatus"> </div>
    <div id="fbToken"> </div>
</body>
</html>